* {
    border:        none;
    border-radius: 0;
    font-family:   "monospace, FontAwesome";
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0.20s;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.7);
    color:      gray;
}

window {
    color: #e4e4e4;
    font-weight: bold;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    background: transparent;
    margin:     0px;
    color:      #F8F8F2;
    padding:    0 5px;
}

#workspaces button:hover {
    background: #282A36;
    border-top: 3px solid #6272A4;
}

#workspaces button.focused {
    color:      #F1FA8C;
    border-top: 3px solid rgba(245, 128, 50, 1);
}

#workspaces button.urgent {
    color:      #FF5555;
}

#mode,
#modules-right,
#tray,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpd,
#custom-weather,
#bluetooth,
#custom-notification {
    margin:     0px 0px 0px 0px;
    padding:    2px;
    color:      white;
}

#clock {
    color:      lightgreen;
}

#battery.warning {
   color:       #FFA500;
}

#battery.critical {
    color:      #FF5555;
}

#battery.charging {
    color:      #F8F8F2;
}

#battery.full {
    color:      #50FA7B;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    color: #eb4d4b;
}

#custom-icon-cube {
  margin: 0px 2px;
  padding: 0.5rem 0.9rem;
  /*color: #d8dee9;*/
  /*background: #2e3440;*/
  color: #2e3440;
  background: #f2bb9a;
  border-radius: 0.4rem;
}

#custom-icon-cube {
  /*background: #d8dee9;*/
  color: #282a36;

  /* pride month */
  background: linear-gradient(
    180deg,
    #f00000,
    #f00000 16.67%,
    #ff8000 16.67%,
    #ff8000 33.33%,
    #ffff00 33.33%,
    #ffff00 50%,
    #007940 50%,
    #007940 66.67%,
    #4040ff 66.67%,
    #4040ff 83.33%,
    #a000c0 83.33%,
    #a000c0
  );
}
